<% include ../layout/header.ejs %>
<!-- Header End -->

<div id="maincontainer">
  <!-- Slider Start-->
  <section class="slider">
    <div class="container">
      <div class="flexslider" id="mainslider">
        <ul class="slides">
          <li>
            <img src="img/prod1.png" alt="" />
          </li>
          <li>
            <img src="img/prod1.png" alt="" />
          </li>
          <li>
            <img src="img/prod1.png" alt="" />
          </li>
          <li>
            <img src="img/prod1.png" alt="" />
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- Slider End-->
  <section class="container otherddetails">
    <div class="otherddetailspart">
        <img src="/img/prod1.png" alt="" />
        <h3>500.000 VND</h3>
      <div class="button-add1">
        <a class="button-add" href="/gio-hang.html">Add cart</a>
      </div>
    </div>
    <div class="otherddetailspart">
      <img src="img/prod2.jpg" alt="" />
      <h3>500.000 VND</h3>
      <div class="button-add1">
        <a class="button-add" href="/gio-hang.html">Add cart</a>
      </div>
    </div>
    <div class="otherddetailspart">
      <img src="img/prod1.png" alt="" />
      <h3>500.000 VND</h3>
      <div class="button-add1">
        <a class="button-add" href="/gio-hang.html">Add cart</a>
      </div>
    </div>
  </section>
  <section class="container otherddetails">
    <div class="otherddetailspart">
        <img src="img/prod2.jpg" alt="" />
        <h3>500.000 VND</h3>
      <div class="button-add1">
        <a class="button-add" href="/gio-hang.html">Add cart</a>
      </div>
    </div>
    <div class="otherddetailspart">
      <img src="img/prod1.png" alt="" />
      <h3>500.000 VND</h3>
      <div class="button-add1">
        <a class="button-add" href="/gio-hang.html">Add cart</a>
      </div>
    </div>
    <div class="otherddetailspart">
      <img src="img/prod2.jpg" alt="" />
      <h3>500.000 VND</h3>
      <div class="button-add1">
        <a class="button-add" href="/gio-hang.html">Add cart</a>
      </div>
    </div>
  </section>

  <!-- Section Start-->
  <section class="container otherddetails">
    <div class="otherddetailspart">
      <div class="innerclass free">
        <h2>Free shipping</h2>
        All over in world over $200 </div>
    </div>
    <div class="otherddetailspart">
      <div class="innerclass payment">
        <h2>Easy Payment</h2>
        Payment Gatway support </div>
    </div>
    <div class="otherddetailspart">
      <div class="innerclass shipping">
        <h2>24hrs Shipping</h2>
        Free For UK Customers </div>
    </div>
  </section>
  <!-- Section End-->
<!-- Footer -->
<% include ../layout/footer.ejs %>