<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">

    <title>Admin - Login </title>
    <base href="http://localhost:3000/" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600,600italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/flexslider.css" type="text/css" media="screen" rel="stylesheet"  />
    <link href="css/jquery.fancybox.css" rel="stylesheet">
    <link href="css/cloud-zoom.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="TT_Admin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="TT_Admin/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="TT_Admin/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="TT_Admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <header>
        <div class="headerstrip">
          <div class="container">
            <div class="row">
              <div class="span12">
                <a href="/" class="logo pull-left"><img class="logo1"src="img/logoATN.png" alt="SimpleOne" title="SimpleOne"></a>
                <!-- Top Nav Start -->
                <div class="pull-left">
                  <div class="navbar" id="topnav">
                    <div class="navbar-inner">
                      <ul class="nav" >
                        <li><a class="home active" href="/">Home</a>
                        <li>
                        <li><a class="shoppingcart" href="/gio-hang.html">Shopping Cart</a>
                        </li>
                        <li><a  href="/cate/:name.:id.html">Login</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- Top Nav End -->
              </div>
            </div>
          </div>
        </div>
    </header>

      <div id="maincontainer" style="height: 250px;">
        <section id="product">
          <div class="container">
           <!--  breadcrumb --> 
            <ul class="breadcrumb">
              <li>
                <a href="#">Home</a>
                <span class="divider">/</span>
              </li>
              <li class="active">Order feedback</li>
            </ul>       
            <h1 class="heading1 text-form"><span class="subtext"> Order Successfully and Thank you!</span></h1>
            <!-- Cart-->
        </section>
      </div>

    <footer id="footer">
        <section class="footersocial">
          <div class="container">
            <div class="row">
              <div class="span3 aboutus">
                <h2>About Us </h2>
                <p> Là hệ thống mua bán sản phẩm mô hình đồ chơi uy tính chất lượng tại Việt Nam  <br>
                  <br>
                  ATN Shop sẽ giúp bạn có được những mô hình mong muốn </p>
              </div>
              <div class="span3 contact">
                <h2>Contact Us </h2>
                <ul>
                  <li class="phone"> +000000000, +000000000</li>
                  <li class="mobile"> +000000000, +000000000</li>
                  <li class="email"> ATNshop@test.com</li>
                  <li class="email"> ATNshop@test.com</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <section class="footerlinks">
          <div class="container">
            <div class="info">
              <ul>
                <li><a href="#">Privacy Policy</a>
                </li>
                <li><a href="#">Terms &amp; Conditions</a>
                </li>
                <li><a href="#">Affiliates</a>
                </li>
                <li><a href="#">Newsletter</a>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <section class="copyrightbottom">
          <div class="container">
            <div class="row">
              <div class="span6"> All images are copyright to their owners. </div>
              <div class="span6 textright"> ATN shop </div>
            </div>
          </div>
        </section>
        <a id="gotop" href="http://www.mafiashare.net">Back to top</a>
    </footer>

    <!-- jQuery -->
    <script src="TT_Admin/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="TT_Admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="TT_Admin/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="TT_Admin/dist/js/sb-admin-2.js"></script>
    <script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/application.js"></script>
<script src="js/bootstrap-tooltip.js"></script>
<script defer src="js/jquery.fancybox.js"></script>
<script defer src="js/jquery.flexslider.js"></script>
<script type="text/javascript" src="js/jquery.tweet.js"></script>
<script  src="js/cloud-zoom.1.0.2.js"></script>
<script  type="text/javascript" src="js/jquery.validate.js"></script>
<script type="text/javascript"  src="js/jquery.carouFredSel-6.1.0-packed.js"></script>
<script type="text/javascript"  src="js/jquery.mousewheel.min.js"></script>
<script type="text/javascript"  src="js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript"  src="js/jquery.ba-throttle-debounce.min.js"></script>
<script defer src="js/custom.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        menu();

        $('.updateCart').click(function(){
            var id = $(this).attr('id');
            var soluong = parseInt($('#'+id).val());
            if(soluong > 0){
                $.post(
                    './updateCart',
                    {
                      id      : id,
                      soluong : soluong
                    }, function(data){                     
                      
                      if(data.st ==1) location.href = "gio-hang.html";
                    }
                ), 'json';
            }
        });

         $('.delCart').click(function(){
            var id = $(this).attr('id');
           
                $.post(
                    './delCart',
                    {
                      id      : id
                    }, function(data){                     
                      
                      if(data.st ==1) location.href = "gio-hang.html";
                    }
                ), 'json';
            
        });


    });

    function menu(){
      $.post(
          './menu',
          {

          },function(data){
            var classMenu = '';
            var hash = location.pathname;

            if(hash == '/') var menu = '<li><a class="active" href="/" >Home</a></li>';
            else var menu = '<li><a  href="/">Home</a></li>';
       
            data.forEach(function(item){
              var urlMenu     = '/cate/' + item.nameKhongDau +'.' + item._id + '.html';
               var pathName   = location.pathname;
               pathName       = pathName.split('.')[2];
               
               menu += '<li><a  href="'+ urlMenu +'" ';
               if(urlMenu == hash || item._id == pathName) menu += 'class="active"';
               menu += '>'+item.name+'</a></li>';
            });
            $('#categorymenu ul.categorymenu').html(menu);


          }
        );
    }


</script>

</body>

</html>
